.footer_wrapper {
  height: 25px;

  button {
    display: block;
    margin: 5px auto;
    padding: 5px;
    border: none;
    background: none;
    text-decoration: underline;
  }

  .contact_wrapper {
    padding-top: 8px;

    h2 {
      display: none;
    }
  }
}