@import './base/index';

@import './components/index';


html {
  color: $black;
  background-color: $background;
  box-sizing: border-box;
  min-width: 320px;
}

.content_wrapper {
  background-color: $white;
  width: 93%;
  padding: 8px;
  margin: 0 auto;
}